<% errors = model.errors %>

<% if errors.any? %>
  <div class="alert alert-danger">
    <div class="lead buffer-bottom">
      В вашей форме <%= "#{errors.count} #{I18n.t('errors.mistake', count: errors.count)}"%>
    </div>

    <ul>
      <% errors.each do |error| %>
        <li class="text-break"><%= "#{error.attribute}: #{error.message}" %></li>
      <%end %>
    </ul>
  </div>
<% end %>