@import '~bootstrap/scss/bootstrap.scss' ;
@import 'events';

.navbar-light .navbar-brand{
  color: #f60000;
  font-size: x-large;
  font-weight: bold;
};

.navbar-brand-image{
  width: 40px;
  height: 40px;
}

.buffer-top {
  margin-top: 20px;
}

.buffer-bottom {
  margin-bottom: 20px;
}

.buffer-both {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Avatars for users & events */
.img-icon, .img-icon-small {
  height: 50px;
  width: auto;
  border-radius: 50%;
}

/* Thumbnails for events/index */
.thumbnail {
  position: relative;
  background: transparent;
  padding: 0;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 20px;
}

.thumbnail h3 {
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: .3em;
}

.thumbnail-inner {
  padding: 20px 4px 4px;
}

.edit-delete-event-buttons {
  width: 50%;
}
.comment {
  border-bottom: 1px solid lightgray;

}
