<div class="col-sm-6 col-md-4">
  <div class="thumbnail">

    <%= content_tag 'div', '', class: 'event-background',
                    style: "background-image: url(#{asset_pack_path('media/images/event_thumb.jpg')})" %>

    <div class="thumbnail-inner event-info-inner m-2">
      <div class="caption">
        <div class="event-description">
          <h4><%= link_to event.title, event_path(event) %></h4>
          <h4><small><%= l event.datetime, format: :short %></small></h4>
          <div class="buffer-both"><%= event.address %></div>
        </div>
      </div>
    </div>
  </div>
</div>
